

#total {
	height: 109px;
	background-color: black;
	color: white;
	padding-top: 20px;
	font-size: 73px;
}

.calculator {
   position: relative;
   margin: 10% auto auto auto;
   max-width: 291px;
   height: 478px;
   border: 2px black solid;
}

button {
	margin-right: -5px;
	width: 73px;
	height: 73px;
}

.equals {
	width: 145px;
}
